<section class="section section-light-grey is-medium" id="section5">
  <a id="contact"></a>
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Inquire Within</h2>
      <h3 class="subtitle is-5 is-muted">Describe your project, including word count. <br> We will contact you shortly with details and a quote. <br> Submit inquires below or <a href="mailto:info@bluepencil.pro">by email</a>.</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
  <div class="columns">
    <div class="column is-6 is-offset-3">

      <form action="https://formsubmit.co/6c7871d30e3534d8bb675b3b2b5d7e74" method="POST">
        <div class="columns is-multiline">
          <div class="column is-6">
            <input class="input is-medium" type="text" placeholder="Enter your name" name="name">
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_captcha" value="true">
            <input type="hidden" name="_next" value="https://bluepencil.pro/thanks">
          </div>
          <div class="column is-6">
            <input class="input is-medium" type="email" placeholder="Enter your email address" name="email">
          </div>
          <div class="column is-12">
            <textarea class="textarea" rows="10" placeholder="Write something..." name="message"></textarea>
          </div>
          <div class="form-footer has-text-centered mt-10">
            <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
          </div>
        </div>
      </form>

    </div>
  </div>
    </div>
  </div>
</section>
